.pfOnImg {
    position: relative; /* Make sure it's positioned relative to its parent container */
    background-color: transparent;
     top: -15px;
    left:-100%; /* Start completely off-screen to the left */
    transition: all 0.3s linear; /* Smooth transition when hovering */
}
.mainProDiv:hover .pfOnImg{
    left: 2%; 
}
.mainProDiv {
    position: relative;
    display: flex;
    box-shadow: 0px 5px 2px 1px white;
    margin: 10px;
border-radius: 20px;
width: 100%;
overflow: hidden;

  }
  
  .innerImg{

    padding: 2px;
    margin-bottom: 20px;
    border-radius: 10px;
    

}
.img{
    border-radius: 10px;

  }



